---
// Was an autoplaying YouTube video, but no longer seems viable
---

<div>
  <img width="1280" height="720" src="/assets/video-poster.jpg" alt="">
</div>

<style>
  div {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    z-index: -1;
    opacity: 0.3;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
